server:
  port: 8082

spring:
  cloud:
    gateway:
      routes:
        - id: task-service
          uri: http://task-service:8080
          predicates:
            - Path=/tasks/**

        - id: user-service
          uri: http://user-service:8081
          predicates:
            - Path=/users/**

        - id: user-task-service
          uri: http://user-service:8081
          predicates:
            - Path=/user-tasks/**
